# Binaires Go
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Dossier d'installation des dépendances Go
/vendor/

# Données locales et fichiers de configuration
.env
*.env

# Fichiers de logs
*.log

# Fichiers temporaires ou compilés
*.tmp
*.swp
*.DS_Store
*.idea/
.vscode/
.history/
__debug_*

# Cache et artefacts
/.cache/
/tmp/
/dist/

# Binaire généré de l'application Groom
#groom

postgres-data/

service_account.json